.nav-tabs > li {
	width: 50%;
	text-align: center;
}

.aboutHeader {
	text-align: center;
	font-size: 22px;
	padding-top: 5px;
}

.aboutDescription {
	text-align: center;
	font-size: 16px;
	padding: 5px 10%;
}

.memberCard {
	width: 100%;
	min-height: 250px;
	margin-top: 1%;
}

.aboutPicContainer {
	height: 100%;
	min-width: 350px;
	float: left;
	margin-right: 10px;
}

.aboutPic {
	max-height: 250px;
	float: right;
}

.aboutContainer {
	padding: 0 0 10px 10px;
}

.reportContainer {
	padding: 5px 30px 15px 30px;
}

.userStory {
	font-size: 1.4em;
}