.loadingSpinner {
    margin: auto;
}

.chartWrapper {
    width: 60%;
    margin: auto;
    padding-top: 20px;
}

.chartExplanation {
    font-size: 1.4em;
    text-align: center;
}

.visChart {
    width: 75%;
    margin: auto;
}