.sortingMenuContainer {
	background-color: lightgrey;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 0 10px #ddd;
	width: 100vw;
	margin-bottom: 1%;
}

.sortingMenuNav {
	padding: 1% 0 1% 3%;
}

.sortMenuDropdown {
	margin: 0 2% 0 0.5%;
	width: 20% !important;
}

.sortMenuFormGroup {
	width: 100%;
}